/* SLAM Custom Style for Translation/Transcription Container */
.btnWrap {
  position: absolute;
  top: 0;
  right: 32%;
  margin-right: 2rem;
  background-color: #eee;
  padding:1rem;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}


.translationContainer,
.transcriptionContainer {
  display: none;

  @media (min-width: 576px) { 
    background-color:#eee;
    display: block;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    position: absolute;
    right:0;
    top:0;
    width:32%;
  
    #content {
      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.no-info {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}

.active-btn {
  background-color:#ccc !important;
}